.ListBox {
  .trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }

  .options {
    position: absolute;
    z-index: 10000;
    background: var(--dark-bg-redesigned);
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--hint-redesigned);
    min-width: 100%;

    .item {
      padding: 10px 20px;
      border-radius: 12px;
      user-select: none;
      cursor: pointer;

      &.active {
        background: var(--light-bg-redesigned);
      }

      &.disabled {
        opacity: 0.7;
      }

      &.selected {
        background: var(--light-bg-redesigned);
      }
    }
  }
}
