.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    max-width: 60%;
  }

  &.opened {
    pointer-events: auto;
    z-index: var(--modal-z-index);

    .content {
      animation: scaleonstart 0.2s;
    }
  }

  &.isClosing {
    .content {
      animation: scaleonexit 0.2s;
    }
  }
}

@keyframes scaleonstart {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleonexit {
  from {
    transform: scale(1);
  }

  25% {
    opacity: 1;
  }

  to {
    transform: scale(0.7);
    opacity: 0;
  }
}
