.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  color: var(--primary-color);

  // TODO: убрать!!
  &.normal {
    --bg-color: #c9c9c9;
    --primary-color: #049604;
  }

  &.dark {
    --bg-color: #5a5a5a;
    --primary-color: #008929;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      padding: 20px;
      border-radius: 12px;
      background: var(--bg-color);
      transition: transform 0.3s;
      transform: scale(0.5);
      max-width: 60%;
    }
  }

  &.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index);

    .overlay {
      .content {
        transform: scale(1);
      }
    }
  }

  &.isClosing {
    .overlay {
      .content {
        transform: scale(0.3);
      }
    }
  }
}
