.Sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-color-bg);
  transition: width 0.3s;

  .items {
    margin: 20px 0 0 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .item {
      display: flex;
      align-items: center;

      .link {
        display: flex;
        align-items: center;

        .icon {
          fill: var(--primary-color);
        }

        .link_label {
          margin-left: 10px;
          opacity: 1;
          white-space: nowrap;
          transition: margin 0.3s, opacity 0.2s;
        }
      }
    }
  }

  .switchers {
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .collapseBtn {
    position: absolute;
    right: -36px;
    bottom: 40px;
    z-index: 1;
  }

  &.collapsed {
    width: var(--sidebar-width-collapsed);

    .items {
      .link {
        .link_label {
          margin: 0;
          opacity: 0;
          width: 0;
        }
      }
    }

    .switchers {
      flex-direction: column;
    }
  }
}
