.Sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-color-bg);
  transition: width 0.3s;
  flex-shrink: 0;

  .items {
    margin: 20px 0 0 30px;
    display: flex;
  }

  .switchers {
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .collapseBtn {
    position: absolute;
    right: -36px;
    bottom: 40px;
    z-index: 10;
  }

  &.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
      flex-direction: column;
    }
  }
}
