.SidebarItem {
  display: flex;
  align-items: center;

  .link {
    display: flex;
    align-items: center;

    .icon {
      fill: var(--primary-color);
    }

    .link_label {
      margin-left: 10px;
      opacity: 1;
      white-space: nowrap;
      transition: margin 0.3s, opacity 0.2s;
    }
  }

  &.collapsed {
    .link {
      .link_label {
        margin: 0;
        opacity: 0;
        width: 0;
      }
    }
  }
}
