.ArticleViewSelector {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;

  .notSelected {
    fill: var(--secondary-color);
  }
}

.ArticleViewSelectorRedesigned {
  .notSelected {
    color: var(--light-bg-redesigned);
  }
}
