.popup {
  position: relative;
}

.menu {
  border-radius: 18px;
  border: 1px solid var(--accent-redesigned);
  overflow: hidden;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomLeft {
  top: 100%;
  right: 0;
}

.bottomRight {
  top: 100%;
  left: 0;
}

.topRight {
  bottom: 100%;
  left: 0;
}

.topLeft {
  bottom: 100%;
  right: 0;
}
