.app_dark_theme {
  --bg-color: #5a5a5a;
  --inverted-color-bg: #c9c9c9;
  --primary-color: #008929;
  --secondary-color: #003b14;
  --inverted-primary-color: #1305ce;
  --inverted-secondary-color: #06f;
}
