.app_magneta_theme {
  --bg-color: #9285f6;
  --inverted-color-bg: #4931fb;
  --primary-color: #f5f4fb;
  --secondary-color: #2470ff;
  --inverted-primary-color: #f2f0fe;
  --inverted-secondary-color: #b224ff;
  --skeleton-shadow: #7d0055;
  --skeleton-color: #bf009c;
  --code-bg: #756ac5;
  --card-bg: #7d6df4;
  --listbox-bg: #7d6df4;
}
