.app_magneta_theme {
  --bg-color: #9285f6;
  --inverted-color-bg: #4931fb;
  --primary-color: #f5f4fb;
  --secondary-color: #2470ff;
  --inverted-primary-color: #f2f0fe;
  --inverted-secondary-color: #b224ff;
  --skeleton-shadow: #7d0055;
  --skeleton-color: #bf009c;
  --code-bg: #756ac5;
  --card-bg: #7d6df4;
  --listbox-bg: #7d6df4;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;
}
