.app.normal {
  --bg-color: #c9c9c9;
  --inverted-color-bg: #5a5a5a;
  
  --primary-color: #049604;
  --secondary-color: #323232;
  --inverted-primary-color: #1305ce;
  --inverted-secondary-color: #0066ff;
}
