:root {
  --bg-color: #c9c9c9;
  --inverted-color-bg: #5a5a5a;
  --primary-color: #049604;
  --secondary-color: #006823;
  --inverted-primary-color: rgb(1 56 139);
  --inverted-secondary-color: #1305ce;
  --skeleton-shadow: #04ff04;
  --skeleton-color: #049604;
  --code-bg: #fff;
}
