.Modal {
  position: fixed;
  inset: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  .content {
    padding: 20px;
    border-radius: 12px;
    max-width: 60%;
    z-index: var(--modal-z-index);
  }

  &.modalNew {
    .content {
      background: var(--light-bg-redesigned);
    }
  }

  &.modalOld {
    .content {
      background: var(--bg-color);
    }
  }

  &.opened {
    pointer-events: auto;
    opacity: 1;

    .content {
      animation: scaleonstart 0.2s;
    }
  }

  &.isClosing {
    .content {
      animation: scaleonexit 0.2s;
    }
  }
}

@keyframes scaleonstart {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleonexit {
  from {
    transform: scale(1);
  }

  25% {
    opacity: 1;
  }

  to {
    transform: scale(0.7);
    opacity: 0;
  }
}
