.Icon {
  &.fill {
    fill: var(--primary-color);
  }

  &.stroke {
    stroke: var(--primary-color);
  }
}

.inverted {
  &.fill {
    fill: var(--inverted-primary-color);
  }

  &.stroke {
    stroke: var(--inverted-primary-color);
  }
}
