.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-color-bg);
  display: flex;
  align-items: center;
  padding: 20px;

  .appName {
    width: var(--sidebar-width);
    margin-left: 15px;
  }

  .links,
  .actions {
    margin-left: auto;
  }
}

.NavbarRedesigned {
  padding: 16px;

  .actions {
    margin-left: auto;
  }
}
