.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-primary-color);

  .data {
    .avatarWrapper {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .input {
      margin-top: 10px;
    }
  }

  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  &.readonly {
    border: 2px solid var(--inverted-color-bg);
  }
}
