.Overlay {
  background: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  animation: opening-opacity 0.2s;
}

.closing {
  animation: closing-opacity 0.2s;
}

@keyframes opening-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes closing-opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
